h1 {
  color: green;
}

p {
  color: green;
}

.kleuren {
  color: red;
}

#tekst {
  color: blue;
}

.mijn-div {
  border: 2px;
  margin: 10px;
  padding: 5px;
  background-color: yellow;
  color: purple;
}
