body {
  margin: 0;
  background-color: rgb(252, 201, 217);
}

header {
  background-color: #525252;
  margin: 0;
  padding: 15px;
  text-align: left;
}

header a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 5px;
}

#h1title {
  text-align: center;
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

#h2Identiteit {
  text-align: left;
  font-family: poppins, sans-serif;
  font-size: 20px;
  margin: 10px;
}

#pIdentiteit {
  text-align: left;
  font-family: merriweather, serif;
  font-size: 18px;
  margin: 10px;
  padding: 0;
  max-width: 400px;
}
