#bodyIndex {
  margin: 0;
  background-color: rgb(252, 201, 217);
}

#bodyProject {
  margin: 0;
  background-color: #58c7e0;
}

#bodyGallery {
  margin: 0;
  background-color: lightgreen;
}

#bodyContact {
  margin: 0;
  background-color: #cb9cf7;
}

header {
  background-color: #666666;
  margin: 0;
  padding: 15px;
  text-align: left;
}

header a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 5px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0px;
  padding: 5px;
}

#h1title {
  text-align: center;
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-decoration: underline;
}

#h2Introductie {
  text-align: left;
  margin: 10px;
}

#introductie {
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin: 10px;
  max-width: 400px;
}

#h2Identiteit {
  text-align: left;
  font-size: 27px;
  margin: 10px;
}

#pIdentiteit {
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin: 10px;
  padding: 0;
  max-width: 300px;
  line-height: 1.2;
}

/* #flag {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: left;
  max-width: 400px;
} */

#hobby {
  max-width: 450px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin: 5px;
  line-height: 1.2;
}

#h1ProjectTitel {
  text-align: center;
  margin: 0px;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
}

.opdrachten {
  display: flex;
}

.opdrachten img {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 8px;
  box-shadow: 0 8px 15px rgba(130, 23, 217, 0.3);
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.opdrachten img {
  margin: 5px;
  padding: 6px;
  width: auto;
  height: 190px;
}

.opdrachten img:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

#voorbeelden {
  display: flex;
  align-items: center;
  margin: 5px;
  gap: 10px;
}

#uitlegGallerij {
  display: grid;
  grid-template-columns: auto 2fr; /* Links tekst, rechts afbeeldingen */
  gap: 200px;
  background: linear-gradient(
    to bottom,
    #008d21 0%,
    #02c42f 60%,
    lightgreen 100%
  );
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  justify-self: center;
}

.gallery img {
  width: 200px;
  height: 200px;
  display: block;
  object-fit: cover;
  border: 1px solid #ffffff;
}

.contactFormulier {
  text-align: center;
  background-color: #7d1f7f;
  color: white;
  border: 3px solid #000000;
  margin: 20px;
}

#ContactOpnemen {
  max-width: 350px;
  margin: 10px;
}

#naam {
  border-radius: 5px;
  margin: 10px;
}

#formulier {
  border: 2px solid #000000;
  margin-left: 500px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0;
}
