#bodyIndex {
  margin: 0;
  background-color: rgb(252, 201, 217);
}

#bodyProject {
  margin: 0;
  background-color: #879dcc;
}

#bodyGallery {
  margin: 0;
  background-color: #fffdca;
}

#bodyContact {
  margin: 0;
  background-color: #ffffff;
}

header {
  background-color: #666666;
  margin: 0;
  padding: 15px;
  text-align: left;
}

header a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 5px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 5px;
}

.container p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

#h1title {
  text-align: center;
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-decoration: underline;
}

#h2Introductie {
  text-align: left;
  margin: 10px;
}

#introductie {
  text-align: left;
  margin: 10px;
  max-width: 450px;
}

#h2Identiteit {
  text-align: left;
  font-size: 27px;
  margin: 10px;
}

#pIdentiteit {
  text-align: left;
  margin: 10px;
  padding: 0;
  max-width: 450px;
}

#hobby {
  max-width: 450px;
}

#schoolProject {
  text-align: center;
  margin: 0;
  padding: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
}

#boxOpdrachten {
  background-color: #c0137b90;
}

.opdrachten {
  display: flex;
}

.opdrachten img {
  background-color: #ffffff;
  margin: 5px;
  box-shadow: 0 10px 15px rgba(11, 23, 43, 0.3);
  border-radius: 7px;
  padding: 6px;
  width: auto;
  height: 170px;
}

.opdrachten img:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

#voorbeelden {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 10px;
  padding: 10px;
  background-color: #dd99c2;
  box-shadow: 5px 5px 5px #7d1f7f;
  border-radius: 12px;
}

#teamProject {
  text-align: center;
}

#pTeamProject {
  margin: 5px;
  padding: 5px;
  text-align: center;
}

#imgTeamproject {
  display: flex;
  justify-content: center;
  height: 200px;
  margin: 0;
  padding: 10px;
  gap: 10px;
}

.galleryLayout {
  display: grid;
  grid-template-columns: 1fr 2fr; /* links smal, rechts breder */
  gap: 10px;
  padding: 20px;
  align-items: start;
}

.galleryText {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 5px;
  gap: 5px;
}
.gallery img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: 1fr; /* 1 kolom op mobiel */
  }
}

.contactFormulier {
  text-align: center;
  background-color: #cecece;
  color: #000000;
  border: 2px solid #000000;
  margin: 20px;
  display: flex;
}

form {
  width: 350px;
  height: 400px;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-row label {
  width: 100px;
}

.form-row input {
  flex: 1;
}

.form-row textarea {
  flex: 1;
  margin-left: 10px;
}

.footer {
  background: #333;
  text-align: center;
  padding: 2.5px;
  margin: 0;
  color: white;
}
