#bodyIndex {
  margin: 0;
  background-color: rgb(252, 201, 217);
}

#bodyProject {
  margin: 0;
  background-color: #58c7e0;
}

#bodyGallery {
  margin: 0;
  background-color: lightgreen;
}

header {
  background-color: #666666;
  margin: 0;
  padding: 15px;
  text-align: left;
}

header a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 5px;
}

#h1title {
  text-align: center;
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-decoration: underline;
}

#h2Identiteit {
  text-align: left;
  font-size: 27px;
  margin: 10px;
}

#pIdentiteit {
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin: 10px;
  padding: 0;
  max-width: 450px;
  line-height: 1.2;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: -10px;
  padding: 5px;
}

#hobbys {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: left;
  max-width: 600px;
}

#hobby {
  max-width: 450px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin: 5px;
  line-height: 1.2;
}

#h1ProjectTitel {
  text-align: center;
  margin: 0px;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
}

.opdrachten {
  display: flex;
}

.opdrachten img {
  background: linear-gradient(to right, #d2faff 10%, #f6fafc 20%);
  margin-bottom: 20px;
  padding: 8px;
  box-shadow: 0 8px 15px rgba(130, 23, 217, 0.3);
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.opdrachten img {
  margin: 5px;
  width: auto;
  height: 190px;
}

.opdrachten img:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.gallery {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px;
  gap: 0;
  box-shadow: inset 0 0 10px #000000;
}

.gallery img {
  width: 200px;
  height: 200px;
  display: block;
  object-fit: cover;
  border: 1px solid #ffffff;
}
